<div *ngIf="station" class="sidepane">
  <div class="sidepane-header">
    <h1>{{ station.at }}</h1>
  </div>
  <div class="sidepane-body">
    <h4>Line:</h4>
    <span>{{ station.sub }}</span>
    <h4>HSK:</h4>
    <span>{{ station.hsk }}</span>
    <h4>Display Name</h4>
    <span>{{ station.dis_name }}</span>
  </div>
</div>