.sidepane {
    position: fixed;
    background-color: #f5f5f5;
    top: 30%;
    width:15%;
    height: 37%;
    text-align: center;
    border: 1px solid #ccc;
}

.sidepane-header {
    border-bottom: 1px solid #ccc;
    color:#0077c2;
}

h4 {
    font-weight: bold;
}