<h2>Inside QC/ Topside QC</h2>
<br>
<div id="fin_inline_div">
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[0])" [station_data]="fin_inline[0]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[1])" [station_data]="fin_inline[1]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[2])" [station_data]="fin_inline[2]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[3])" [station_data]="fin_inline[3]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[4])" [station_data]="fin_inline[4]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[5])" [station_data]="fin_inline[5]"></app-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[6])" [station_data]="fin_inline[6]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[7])" [station_data]="fin_inline[7]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[8])" [station_data]="fin_inline[8]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[9])" [station_data]="fin_inline[9]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[10])" [station_data]="fin_inline[10]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[11])" [station_data]="fin_inline[11]"></app-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[12])" [station_data]="fin_inline[12]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[13])" [station_data]="fin_inline[13]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[14])" [station_data]="fin_inline[14]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[15])" [station_data]="fin_inline[15]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[16])" [station_data]="fin_inline[16]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_inline[17])" [station_data]="fin_inline[17]"></app-panel>
        </div>
    </div>
</div>




