<div class="container">
    <div class="row">
        <app-endline-qc-sublime [subject_array]="subject_array"></app-endline-qc-sublime>
    </div>
    <div class="row">
        <app-line-in-sublime [subject_array]="subject_array"></app-line-in-sublime>
    </div>
    <div class="row">
        <app-packing-in-sublime [subject_array]="subject_array"></app-packing-in-sublime>
    </div>
</div>