<div id="factory_selection_btn_grp" class="btn-group" role="group" aria-label="Basic example">
  <button id="factory_selection_btn_2" type="button" [class]="factory_btn_class.ananta" (click)="onClickFactorySelection('ananta')">Ananta</button>
  <button id="factory_selection_btn_1" type="button" [class]="factory_btn_class.sublime" (click)="onClickFactorySelection('sublime')">Sublime</button>
</div>


  
