<nav class="navbar navbar-default">
  <div>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">Daily Production Monitoring</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLinkActive]="['active']" [routerLink]="['']">First Event</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/time_event']">Time Event</a></li>
    </ul>
  </div>
</nav>
